<%- include("../templates/encabezado.ejs")%>
<%- include("../templates/menu.ejs")%>
<div class="container" mt-3>
    <form action="/editarDireccion" method="post">
        <div class="card">
            <div class="card-head">
                <h1>Modificar Direccion</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%- direc.id%>">
                <input class="form-control mb-3" value="<%-direc.nombre %>" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" value="<%-direc.descripcion %>" type="text" name="descripcion" id="descripcion" placeholder="Descripcion">
                <input class="form-control mb-3" value="<%-direc.altitud %>" type="text" name="altitud" id="altitud" placeholder="Altitud">
                <input class="form-control mb-3" value="<%-direc.latitud %>" type="text" name="latitud" id="latitud" placeholder="Latitud">
            
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>
<%- include("../templates/pie.ejs")%>